nav {
  display: flex;
  align-items: flex-start;
  position: fixed;
  color: $primary-color;
  width: 100%;
}

nav > h1{
  justify-content: left;
  font-family: 'Permanent Marker', cursive;
  font-size: 24pt;
}

nav > img{
  width: fit-content;
  height:fit-content;
}

button {
  background-color: $button-color;
  border-color: $button-color;
  color: white;
  font-weight: $font-weights;
}

button:hover{
  background-color: #B2ACFF;
}