.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.list-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  box-shadow: 8px 5px 6px grey;;
}

.list-group-item {
  text-align: left;
  width: 100%;
}

.prep-time {
  width: 100px;
}

.pick-up-alert {
  text-align: center;
  margin-bottom: 10px;
}

.prep-info {
  text-align: center;
  margin-bottom: 15px;
}

.table {
  margin-top: 10px;
  text-align: center;
}

.prep-info label {
  display: block;
  padding-top: 10px;
  text-align: left;
  padding-bottom: 5px;
}

.prep-info input {
  margin: auto;
  margin-bottom: 20px;
}

.customerName {
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
}
