$primary-color: #FFC107;
$background-color: #FFE0B2;
$text-color: black;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700
);
$font-family: 'El Messiri', sans-serif;
$hover-color: pink;
$button-color: #eb8f33;
$hover-color: #B2ACFF;


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $background-color;
  font-weight: map-get($font-weights, regular);
  font-family: $font-family;
}

.box {
  display: flex;
  justify-content: left;
  align-items: flex-start; 
}

.menu > img {
  display: flex;
  width: 50px;
  height: 100px;
  justify-content: center;
  align-items: center;
  padding: 0, 5%, 0, 5%;
}

.card{
  background-color: antiquewhite;
}

.item-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: fit-content;
}