$primary-color: #FFC107;
$background-color: #FFE0B2;
$text-color: black;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700
);
$hover-color: pink;
$button-color: #f19f4d;


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-color: $background-color;
  font-weight: map-get($font-weights, regular);
}

.box {
  display: flex;
  justify-content: left;
  align-items: flex-start; 
}

.menuimages {
  display: flex;
  width: 50px;
  height: 100px;
  justify-content: center;
  align-items: center;
}